/* Estilos generales */
body {
  color: #666666;
  background-color: #c09f34;
  font-family: Georgia, Times, serif;
  line-height: 1.4em;
  margin: 0px;
}

.wrapper {
  width: 90%;
  margin: 4% auto 10% auto;
  border: 1% solid #000000;
  background-color: #d2cdcd;
}

header {
  margin-top: 0%;
  height: 120px;
  background-color: #6b6b6b;

}

h1 {
  text-indent: -9999px;
  width: 940px;
  height: 130px;
  margin: 0px;
}

nav,
footer {
  clear: both;
  color: #ffffff;
  background-color: #aeaca8;
  height: 30px;
}

nav ul {
  margin: 0px;
  padding: 5px 0px 5px 30px;
}

nav li {
  display: inline;
  margin-right: 40px;
}

nav li a {
  color: #ffffff;
}

nav li a:hover,
nav li a.current {
  color: #000000;
}

section.courses {
  float: left;
  width: 659px;
  border-right: 1px solid #eeeeee;
}

article {
  clear: both;
  overflow: auto;
  width: 100%;
}

hgroup {
  margin-top: 40px;
}

figure {
  float: left;
  width: 290px;
  height: 220px;
  padding: 5px;
  margin: 20px;
  border: 1px solid #eeeeee;
}

figcaption {
  font-size: 90%;
  text-align: left;
}

aside {
  width: 230px;
  float: left;
  padding: 0px 0px 0px 20px;
}

aside section a {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #eeeeee;
}

aside section a:hover {
  color: #985d6a;
  background-color: #efefef;
}

a {
  color: #000000;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-weight: normal;
}

h2 {
  font-size: 200%;
  margin: 5% 0% 5% 0%;
  padding: 0px;
  color: #e0c200;
}

h3 {
  margin: 0px 0px 10px 0px;
  color: #e0c200;
}

aside h2 {
  padding: 30px 0px 10px 0px;
  color: #e0c200;
}

footer {
  font-size: 80%;
  padding: 7px 0px 0px 20px;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 640px) {
  body {
    font-size: 14px;
  }
  .wrapper {
    width: 90%;
    margin: 20px auto;
  }
  header {
    height: auto;
  }
  h2 {
    text-align: center;
  }
  nav ul {
    text-align: center;
  }
  nav li {
    display: block;
    margin: 0;
  }
  section.courses {
    width: 100%;
    float: none;
    border-right: none;
  }
  article {
    margin: 20px 0;
  }
  figure {
    float: none;
    width: 100%;
    height: auto;
    margin: 0;
  }
  aside {
    width: 100%;
    float: none;
    padding: 0;
  }
  aside section a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #eeeeee;
  }
  aside section a:hover {
    color: #e0c200;
    background-color: #efefef;
  }
  /* Otras reglas CSS específicas para dispositivos móviles, si las tienes */
}
